@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-bg {
    @apply min-h-screen flex items-center justify-center bg-cover bg-center;
    background-blend-mode: darken;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }

  .auth-bg.login {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/auth/volleyball-01.jpg");
  }

  .auth-bg.register {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/auth/soccer-01.jpg");
  }
  .auth-btn-login {
    @apply mb-3 w-full flex items-center justify-center gap-3 rounded-xl border border-gray-300 bg-white py-3 text-gray-700 hover:bg-gray-50;
  }

  .auth-form-title {
    @apply text-2xl font-bold text-center text-gray-800;
  }

  .auth-card-form {
    @apply relative z-10 w-full  mx-auto rounded-xl border-2 border-blue-300 bg-white p-8;
  }

  .form-field-size-sm {
    @apply flex-grow min-w-32 max-w-64;
  }
  .form-field-size-lg {
    @apply flex-grow min-w-32 w-full;
  }
}
