@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-bg {
    @apply min-h-screen flex items-center justify-center bg-cover bg-center;
    background-blend-mode: darken;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }

  .auth-bg.login {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/auth/volleyball-01.jpg");
  }

  .auth-bg.register {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/auth/soccer-01.jpg");
  }
}
